<div class="content" style="padding: 20px;">
    <div class="row">
        <div class="col-12">
            <div class="panel" style="float: left; min-height: 85vh; width: 100%">
                <div class="header" style="font-size: larger;">Word & Worship v1.0</div>
                <div class="content" style="padding: 20px 20px;overflow-y: auto;">
                    <div style="font-size: 2.0rem">
                        <h1>Word & Worship</h1>
                        <br/>
                        W&W currently supports the following:
                        <ol>
                            <li>Multi-lingual Song Lyrics Projection</li>
                            <li>Multi-lingual Sscripture Projection</li>
                            <li>Media Projection (Images/Videos)</li>
                            <li>Ticker / Scrolling Text</li>
                            <li>Slides Projection</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
